@using Web.ViewModels.Pages;
@model PagesIndexVM

<!--main starts -->
<main>
    <!-- main-frame section starts -->
    <section class="main-frame no-select" style="background-image: url(/assets/images/main-frame-photo.jpg);">
        <div class="main-frame-title">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="main-frame-title-text">
                            Pricings
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="main-frame-breadcrumb">
                            Home / Pricings
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main-frame section ends -->
    <!-- pricings section starts -->
    <section class="pricings no-select">
        <div class="container">
            <div class="pricing-top text-center" data-aos="fade-down" data-aos-duration="1500">
                <p class="sub-heading">PRICING AND PLAN</p>
                <h2 class="heading">A monthly fee. No costly surprises</h2>
            </div>
            <div class="pricing-slider" data-aos="fade-up" data-aos-duration="1500">
                @foreach (var card in Model.PricingCards)
                {
                    <div class="@(card.Status.ToString() == "Active" ? "pricing-slider-element active-price" : "pricing-slider-element") ">
                    <div class="slider-element-wrapper">
                        <h4 class="title-pricing">@Html.Raw(card.Title)</h4>
                        <p class="subtitle-pricing">@Html.Raw(card.SubTitle)</p>
                        <div class="price">
                            <span class="unitprice">@card.PriceUnit</span>
                            <span class="price-value">@card.PriceValue</span>
                            <span class="per">/ per @card.PricePer</span>
                        </div>
                        <ul class="features">
                            @Html.Raw(card.Features)
                        </ul>
                        <div class="get-started">Get Started</div>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    <!-- pricings section ends -->
</main>
<!--main ends -->